 {% extends 'base.html' %}   
 {% load static %}
{% block title %}About Sarvesh{% endblock %}
 {% block content %} 
 <div class="card bg-dark text-dark">
  <img src="{% static 'images/kay1.jpg'%}" class="card-img" alt="...">
  <div class="card-img-overlay">
    <h5 class="card-title"><strong> PATIL'S ACADEMY FOR COMPETETIVE STUDY HINGOLI</strong></h5>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    <p class="card-text">Last updated 3 mins ago</p>
  </div>
</div> 
  <div class="card text-white bg-secondary mb-3" style="max-width: 50rem;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="{% static 'images/msir.jpg'%}" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Some content here</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>  
<div align="right"  ">
<div class="card text-white bg-secondary mb-3" style="max-width: 50rem;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="{% static 'images/dsir.jpg'%}" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Shailesh Mane Sir</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div> 
<div align="left"  ">
<div class="card text-white bg-secondary mb-3" style="max-width: 50rem;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="{% static 'images/frt.dwg'%}" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Shailesh Mane Sir</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>  
</div>
{% endblock %}