{% extends 'base.html' %}   
 {% load static %}
{% block title %}About Sarvesh{% endblock %}
 {% block content %} 
 <style>
      sarvesh
      {
        padding: 25px 100px 12px;
      }
</style>
  <div class="alert alert-secondary" role="alert">
  


  
​  <div class="card-columns">
  <div class="card">
   <div class="card p-3">
    <blockquote class="blockquote mb-0 card-body">
      <p>Being the richest man in the cemetery doesn't matter to me. Going to bed at night saying we've done something wonderful, that's what matters to me.</p>
      <footer class="blockquote-footer">
        <small class="text-muted">
            <cite title="Source Title">steve jobs</cite>
        </small>
      </footer>
    </blockquote>
    </div>
  </div>
  <div class="card p-3">
    <blockquote class="blockquote mb-0 card-body">
      <p>It's really hard to design products by focus groups. A lot of times, people don't know what they want until you show it to them.</p>
      <footer class="blockquote-footer">
        <small class="text-muted">
           <cite title="Source Title">steve jobs</cite>
        </small>
      </footer> 
      </
     
    </div>
  </div>
  <div class="card">
    <img src="{% static 'images/du.png'%}" class="card-img-top" alt="..."> 

    <div class="card-body"> 

      <h5 class="card-title">Steve</h5>
      <p class="card-text">He wanted to put a ding in the universe but, with his work he has put a big Bump in the world. He was crazy enough to think of changing the world, so he did. </p>
      <p class="card-text"><small class="text-muted"> </small</p>
    </div> 
 
  
  </div>
</sarvesh>
  
    <blockquote class="blockquote mb-0"><sarvesh>
      <p>Here's to the crazy ones. The misfits. The rebels. The troublemakers. The round pegs in the square holes. The ones who see things differently. They're not fond of rules. And they have no respect for the status quo. You can quote them, disagree with them, glorify or vilify them. About the only thing you can't do is ignore them. Because they change things. They push the human race forward. And while some may see them as the crazy ones, we see genius. Because the people who are crazy enough to think they can change the world, are the ones who do.</p></sarvesh>
      
        <small>
         <cite title="Source Title">-steve jobs</cite>
        </small>
      </footer>
    </blockquote>
  </div>
  
  </div>
  <div class="card">
     
  </div>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">b
<div class="card-deck">
  <div class="card">
    <img src="{% static 'images/king2.jpg'%}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Martin Luther King Jr.</h5>
      <p class="card-text">If you can't fly then run, if you can't run then walk, if you can't walk then crawl, but whatever you do you have to keep moving forward..</p>
      <p class="card-text"><small class="text-muted"> </small></p>
    </div>
  </div>
  <div class="card">
    <img src="{% static 'images/gandhi1.jpg'%}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Mahatma Gandhi</h5>
      <p class="card-text"> Glory lies in the attempt to reach one’s goal and not in reaching it.</p>
      <p class="card-text"><small class="text-muted"> </small></p>
    </div>
  </div>
  <div class="card">
    <img src="{% static 'images/feynman1.jpg'%}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Richard Feynman</h5>
      <p class="card-text">I stand at the seashore, alone, and start to think.
There are the rushing waves
mountains of molecules
each stupidly minding its own business
trillions apart
yet forming white surf in unison.</p>
      <p class="card-text"><small class="text-muted"> </small></p>
    </div>
  </div>
</div>
 
{% endblock %}