
 {% load static %}

<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.10.2/p5.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/BrowserFS/2.0.0/browserfs.js"></script>
    <meta charset="utf-8" />

  </head>
  <body>
 
    <form id="form1" name="form1" action="script2.js">
  start i: <input type="number" name="starti" value="30"><br>
  start j: <input type="number" name="startj" value="55"><br>
  end i: <input type="number" name="endi" value="76"><br>
  end j: <input type="number" name="endj" value="50"><br>
  <input type="button" onclick="setup()" value="Submit">
</form>

    <script src="{% static 'js/path_finder.js'%}">

    </script>
  </body>
</html>
