 {% extends 'base.html' %}   
 {% load static %}
{% block title %}About Sarvesh{% endblock %}
 {% block content %}  
 {{ my_stuff }}
<div>
  <div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body"> 
        <img src="{% static 'images/mand.jpeg'%}" alt="Trulli" width="200 " height="200"> 
          <br></br>
        <h5 class="card-title">A </h5>
        <p class="card-text">95 </p>
     U 
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card"> 
    
      <div class="card-body"> 
          <img src="{% static 'images/mand.jpeg'%}" alt="Trulli" width="200 " height="200"> 
          <br></br>
        <h5 class="card-title">D </h5> 

        <p class="card-text"> 6.</p>
        Cur 
      </div>
    </div>
  </div>
</div>
 </div> 
 <div>
  <div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body"> 
        <img src="{% static 'images/mand.jpeg'%}" alt="Trulli" width="200 " height="200"> 
          <br></br>
       <div> <h5 class="card-title">S  </h5></div>
        <p class="card-text">9 </p>
       G 
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body"> 
        <img src="{% static 'images/ter.png'%}" alt="Trulli" width="200 " height="200"> 
          <br></br>
        <h5 class="card-title">A </h5>
        <p class="card-text">W .</p>
         G 
      </div>
    </div>
  </div>
</div> 
<div>
  <div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body"> 
        <img src="{% static 'images/mand.jpeg'%}" alt="Trulli" width="200 " height="200"> 
          <br></br>
        <h5 class="card-title">Ma </h5>
        <p class="card-text">Hin </p>
      Go somewhere 
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card"> 
    
      <div class="card-body"> 
          <img src="{% static 'images/mand.jpeg'%}" alt="Trulli" width="200 " height="200"> 
          <br></br>
        <h5 class="card-title">V </h5> 

        <p class="card-text">Hi </p>
         Go somewhere 
      </div>
    </div>
  </div>
</div>
 </div>
{% endblock %}